<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {{ activity.invoice_number_prefix }}
        {{ padded_number }}
    </title>
    <style type="text/css" media="all">

        @page {
            size: A4 portrait;
            counter-increment: page;
            margin: 0;

            @bottom-right {
                padding-right: 1em;
                content: counter(page) " / " counter(pages);
            }
        }

        html, body {
            /* A4 */
            width: 210mm;
            height: 297mm;

            margin: 0;
            padding: 0;
        }

        body {
            padding: 2em;
        }

        p {
            padding: 0;
            margin: 0;
        }

        table {
            border: 1px solid;
            border-collapse: collapse;
        }

        td,
        th {
            border: 1px solid;
            padding: 0.2em 0.4em;
            text-align: left;
            vertical-align: top;
        }

        th {
            background-color: lightgray;

            /* Print background color */
            -webkit-print-color-adjust: exact;
        }

        tr#total-row th {
            background-color: inherit;
            text-align: right;
        }

        table#invoice,
        table#credentials,
        table#items {
            width: 100%;
        }

        table#invoice tr td,
        table#credentials tr td {
            width: 50%;
        }

        table#items {
            margin-bottom: 1em;
        }

        table.credentials-table {
            border: none;
        }

        table.credentials-table tr td {
            border: none;
            border-bottom: 1px solid;
            padding-left: 0;
            padding-right: 0;
        }

        table.credentials-table tr:last-child td {
            border: none;
        }

        caption,
        th#subtotal-column-header,
        tr#total-row {
            text-transform: uppercase;
        }

        caption,
        div.bottom-credentials {
            padding: 0.6em 0 0.2em 0;
        }

        caption,
        tr#total-row {
            font-weight: bold;
        }

        caption#invoice-caption {
            font-size: x-large;
        }

        caption#credentials-caption,
        caption#items-caption,
        tr#total-row {
            font-size: large;
        }

        td.credentials-column {
            width: 50%;
        }

        td.credentials-column table.credentials-table {
            width: 100%;
        }

        ul.i18n_block {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        ul.i18n_block li {
            /* Line break */
            display: block;
        }

        div.flat-list ul li {
            /* No line break */
            display: inline-block;
        }

        div.flat-list ul li:not(:first-child) {
            text-transform: lowercase;
        }

        div.flat-list ul li:nth-child(2):before {
            content: "(";
        }

        div.flat-list ul li:nth-child(n+2):after {
            content: ",\0000a0";
        }

        div.flat-list ul li:not(:first-child):last-child:after {
            content: ")";
        }

        {% if buyer.languages|length > 1 %}
        .lang-lt_LT {
            font-size: 0.8em;
        }
        {% endif %}

        .seller-right {
            float: right;
        }

        div.flat-list {
            display: block;
            float: left;

            /* Some space to signature line */
            margin-right: 0.5em;
        }

        div.signature-line {
            display: block;
            overflow: hidden;

            border-bottom: 1px solid;
        }

        td.bank-credentials ul.i18n_block li:not(:last-child):after {
            /* One extra line break between languages */
            content: "\A\A";
            white-space: pre;
        }

        td.amount {
            /* Never wrap amounts */
            white-space: nowrap;
        }

    </style>
</head>

<body>

{# Block translation wrapper #}
{% macro i18n_block() -%}
    <ul class="i18n_block">
        {% for language in buyer.languages -%}
            {# No newlines between <li></li> so that there would be no extra whitespace between brackets #}
            <li class="lang-{{ language }}">{{ caller(language) }}</li>
        {% endfor %}
    </ul>
{%- endmacro %}

{# String translation helper #}
{% macro i18n_string(string, language) -%}
    {% if string[language] %}
        {{ string[language] }}
    {% else %}
        {{ string }}
    {% endif %}
{%- endmacro %}

{# Invoice's currency #}
{% macro invoice_currency() -%}
    {% if currency %}
        {{ caller(currency) }}
    {% else %}
        {{ caller(buyer.currency) }}
    {% endif %}
{%- endmacro %}


<table id="invoice">
    <caption id="invoice-caption">
        {% call(language) i18n_block() %}
            {% if language == 'lt_LT' %}Sąskaita faktūra{% endif %}
            {% if language == 'en_US' or language == 'en_GB' %}Invoice{% endif %}
        {% endcall %}
    </caption>
    <tr>
        <td>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}
                    Serija:
                    <strong>{{ activity.invoice_number_prefix }}</strong>,
                    Nr. <strong>{{ padded_number }}</strong>
                {% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}
                    Invoice #:
                    <strong>{{ activity.invoice_number_prefix }}{{ padded_number }}</strong>
                {% endif %}
            {% endcall %}
        </td>
        <td>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Išrašyta:{% endif %}
                {% if language == 'en_US' %}Date:{% endif %}
                {% if language == 'en_GB' %}Date:{% endif %}
                <strong>{{ format_date(date, language) }}</strong>
            {% endcall %}
        </td>
    </tr>
</table>

<table id="credentials">
    <tr>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Pardavėjas:{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Seller:{% endif %}
            {% endcall %}
        </th>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Pirkėjas:{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Buyer:{% endif %}
            {% endcall %}
        </th>
    </tr>
    <tr>
        <td class="credentials-column">
            <table class="credentials-table">
                <tr>
                    <td>
                        <strong>{{ seller.name }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}Individualios veiklos pažymos registracijos nr:{% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %}Personal business ID:{% endif %}

                        {% endcall %}
                        <strong class="seller-right">{{ seller.iea_certificate_number }}</strong>
                    </td>
                </tr>
                {% if seller.iea_certificate_issue_date %}
                <tr>
                    <td>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}
                                Individualios veiklos išdavimo data:
                            {% endif %}
                            {% if language == 'en_US' %}
                                Personal business ID issue date:
                            {% endif %}
                            {% if language == 'en_GB' %}
                                Personal business ID issue date:
                            {% endif %}
                            <strong class="seller-right">{{ format_date(seller.iea_certificate_issue_date, language) }}</strong>
                        {% endcall %}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}Asmens kodas:{% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %}Personal ID:{% endif %}
                        {% endcall %}
                        <strong class="seller-right">{{ seller.personal_number }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong class="seller-right">{{ i18n_string(seller.address, language) }}</strong>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}Adresas:{% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %}Address:{% endif %}
                        {% endcall %}
                    </td>
                </tr>
                {% if seller.phone %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Tel. nr.:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Phone:{% endif %}
                            {% endcall %}
                            <strong class="seller-right">{{ i18n_string(seller.phone, language) }}</strong>
                        </td>
                    </tr>
                {% endif %}
                {% if seller.fax %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Faksas:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Fax:{% endif %}

                                <strong>{{ i18n_string(seller.fax, language) }}</strong>
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}El. pašto adresas:{% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %}Email:{% endif %}
                        {% endcall %}
                        <strong class="seller-right">{{ seller.email }}</strong>
                    </td>
                </tr>
                {% if seller.bank_credentials.account %}
                <tr>
                    <td class="bank-credentials">

                        {% call(language) i18n_block() %}

                            {% if language == 'lt_LT' %}
                                {% if seller.bank_credentials.account %}
                                    Atsiskaitomoji sąskaita: <strong>{{ seller.bank_credentials.account }}</strong><br/>
                                    Bankas: <strong>{{ i18n_string(seller.bank_credentials.name, language) }}</strong>
                                {% endif %}
                                {% if buyer.correspondent_bank %}
                                    <br/>
                                    Banko SWIFT: <strong>{{ seller.bank_credentials.swift }}</strong><br/>
                                    Bankas korespondentas:
                                    <strong>{{ i18n_string(buyer.correspondent_bank.name, language) }}</strong>
                                    <br/>
                                    Banko korespondento SWIFT:
                                    <strong>{{ buyer.correspondent_bank.swift }}</strong><br/>
                                    Banko korespondento „nostro“ sąskaita:
                                    <strong>{{ buyer.correspondent_bank.account }}</strong>
                                {% endif %}
                            {% endif %}

                            {% if language == 'en_US' or language == 'en_GB' %}
                                {% if seller.bank_credentials.account %}
                                    Bank account: <strong>{{ seller.bank_credentials.account }}</strong><br/>
                                    Bank name: <strong>{{ i18n_string(seller.bank_credentials.name, language) }}</strong>
                                {% endif %}
                                {% if buyer.correspondent_bank %}
                                    <br/>
                                    Bank SWIFT code: <strong>{{ seller.bank_credentials.swift }}</strong><br/>
                                    Correspondent bank:
                                    <strong>{{ i18n_string(buyer.correspondent_bank.name, language) }}</strong>
                                    <br/>
                                    Correspondent bank's SWIFT:
                                    <strong>{{ buyer.correspondent_bank.swift }}</strong><br/>
                                    Correspondent bank's account:
                                    <strong>{{ buyer.correspondent_bank.account }}</strong>
                                {% endif %}
                            {% endif %}
                        {% endcall %}

                    </td>
                </tr>
                {% endif %}
                {% if seller.bank_credentials.paypal_account %}
                <tr>
                    <td>
                        <strong class="seller-right">{{ seller.bank_credentials.paypal_account }}</strong>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %} PayPal sąskaita: {% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %} PayPal account: {% endif %}
                        {% endcall %}
                    </td>
                </tr>
                {% endif %}
                {% if seller.bank_credentials.transferwise_account %}
                <tr>
                    <td>
                        <strong class="seller-right">{{ seller.bank_credentials.transferwise_account }}</strong>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %} TransferWise sąskaita: {% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %} TransferWise account: {% endif %}
                        {% endcall %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </td>
        <td class="credentials-column">
            <table class="credentials-table">
                <tr>
                    <td>
                            <strong>{{ i18n_string(buyer.name, language) }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong class="seller-right">{{ i18n_string(buyer.address, language) }}</strong>
                        {% call(language) i18n_block() %}
                            {% if language == 'lt_LT' %}Adresas:{% endif %}
                            {% if language == 'en_US' or language == 'en_GB' %}Address:{% endif %}
                        {% endcall %}
                    </td>
                </tr>
                {% if buyer.personal_number %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Asmens kodas:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Personal ID:{% endif %}

                                <strong>{{ buyer.personal_number }}</strong>
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}
                {% if buyer.company_code %}
                    <tr>
                        <td>
                            <strong class="seller-right">{{ buyer.company_code }}</strong>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Įmonės kodas:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Company code:{% endif %}
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}
                {% if buyer.vat_payer_code %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}PVM mokėtojo kodas:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}VAT payer code:{% endif %}

                                <strong>{{ buyer.vat_payer_code }}</strong>
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}
                {% if buyer.phone %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Tel. nr.:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Phone:{% endif %}

                                <strong>{{ i18n_string(buyer.phone, language) }}</strong>
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}
                {% if buyer.fax %}
                    <tr>
                        <td>
                            {% call(language) i18n_block() %}
                                {% if language == 'lt_LT' %}Faksas:{% endif %}
                                {% if language == 'en_US' or language == 'en_GB' %}Fax:{% endif %}

                                <strong>{{ i18n_string(buyer.fax, language) }}</strong>
                            {% endcall %}
                        </td>
                    </tr>
                {% endif %}

            </table>
        </td>
    </tr>
</table>

<table id="items">
    <caption id="items-caption">
        {% call(language) i18n_block() %}
            {% if language == 'lt_LT' %}Prekės{% endif %}
            {% if language == 'en_US' or language == 'en_GB' %}Items{% endif %}
        {% endcall %}
    </caption>
    <tr>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Eil. nr.{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}#{% endif %}
            {% endcall %}
        </th>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Prekės pavadinimas{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Description{% endif %}
            {% endcall %}
        </th>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Matas{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Measure{% endif %}
            {% endcall %}
        </th>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Kiekis{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Quantity{% endif %}
            {% endcall %}
        </th>
        <th>
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Vieneto kaina{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Item price{% endif %}
            {% endcall %}
        </th>
        <th id="subtotal-column-header">
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Suma{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Subtotal{% endif %}
            {% endcall %}
        </th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.number }}</td>
            <td>
                {% if item.description is string %}
                    {{ item.description }}
                {% else %}
                    {% call(language) i18n_block() %}
                        {{ i18n_string(item.description, language) }}
                    {% endcall %}
                {% endif %}
            </td>
            <td>
                {% call(language) i18n_block() %}
                    {% if language == 'lt_LT' %}
                        {% if item.measure == 'unit' %}vnt.{% endif %}
                        {% if item.measure == 'hour' %}val.{% endif %}
                    {% endif %}
                    {% if language == 'en_US' or language == 'en_GB' %}
                        {% if item.measure == 'unit' %}unit{% endif %}
                        {% if item.measure == 'hour' %}hour{% endif %}
                    {% endif %}
                {% endcall %}
            </td>
            <td>{{ item.quantity }}</td>
            <td class="amount">
                {% call(currency) invoice_currency() %}
                    {{ format_currency(item.price, currency, 'lt_LT') }}
                {% endcall %}
            </td>
            <td class="amount">
                {% call(currency) invoice_currency() %}
                    {{ format_currency(item.subtotal, currency, 'lt_LT') }}
                {% endcall %}
            </td>
        </tr>
    {% endfor %}

    <tr id="total-row">
        <th colspan="5">
            {% call(language) i18n_block() %}
                {% if language == 'lt_LT' %}Viso:{% endif %}
                {% if language == 'en_US' or language == 'en_GB' %}Total:{% endif %}
            {% endcall %}
        </th>
        <td class="amount">
            {% call(currency) invoice_currency() %}
                {{ format_currency(total, currency, 'lt_LT') }}
            {% endcall %}
        </td>
    </tr>
</table>

<div id="amount-in-words" class="bottom-credentials">
    <div class="flat-list">
        {% call(language) i18n_block() %}
            {% if language == 'lt_LT' %}Suma žodžiais{% endif %}
            {% if language == 'en_US' or language == 'en_GB' %}Amount in words{% endif %}
        {% endcall %}:
    </div>
    <div class="signature-line">
        {% call(language) i18n_block() %}
            <strong>{{ total_in_words(language) }}</strong>
        {% endcall %}
        &nbsp;{# Can't be empty or doesn't expand through the whole width #}
    </div>
</div>

<div id="issued-by" class="bottom-credentials">
    <div class="flat-list">
        {% call(language) i18n_block() %}
            {% if language == 'lt_LT' %}Sąskaitą išrašė{% endif %}
            {% if language == 'en_US' or language == 'en_GB' %}Issued by{% endif %}
        {% endcall %}:
    </div>
    <div class="signature-line">
        {{ seller.name }}
        &nbsp;{# Can't be empty or doesn't expand through the whole width #}
    </div>
</div>

<div id="issued-to" class="bottom-credentials">
    <div class="flat-list">
        {% call(language) i18n_block() %}
            {% if language == 'lt_LT' %}Sąskaitą priėmė{% endif %}
            {% if language == 'en_US' or language == 'en_GB' %}Issued to{% endif %}
        {% endcall %}:
    </div>
    <div class="signature-line">
        &nbsp;{# Can't be empty or doesn't expand through the whole width #}
    </div>
</div>

</body>

</html>
