# YAML
pyyaml

# Numbers to text
num2words

# HTML template
Jinja2

# PDF (also requires wkhtmltopdf)
pdfkit

# LB exchange rates
suds

# Colorful logging
colorlog

# Date parsing
python-dateutil

# Currency formatting
money
babel

# Unit tests + coverage
nose
coverage
